// =============================================================================
// Header
// =============================================================================
// Header/Navigation bar styles

@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.layout {
	&__content {
		position: relative;
		min-height: 100dvh;

		@include lg {
			margin-left: 260px;
		}

		@include xl {
			margin-left: 283px;
		}
	}

	&__container {
		padding: 24px;
		padding-bottom: 40px;
		margin-top: 70px;
		background-color: $bg-light;

		@include lg {
			padding: 30px;
			padding-bottom: 83px;
		}

		@include xl {
			padding: 60px;
			padding-bottom: 153px;
			margin-top: 100px;
		}
	}
}

.nav-bar {
	background-color: $bg-primary;
	position: fixed;
	top: 0;
	z-index: 50;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 70px;
	padding: 0 16px 0;
	// padding-bottom: 20px;
	box-shadow: 3px 0px 20px 0px rgba($black, 0.04);
	gap: 20px;

	button {
		padding: 0;
		img {
			object-fit: cover;
			width: 100%;
		}
	}

	.logo {
		display: none;
	}

	.menu-button {
		width: 24px;
		height: 24px;
		flex-shrink: 0;
	}

	.nav-group {
		margin-left: auto;
		display: flex;
		align-items: center;
	}

	.notification-button {
		width: 24px;
		margin-left: 27px;
	}

	.nav-link {
		display: none;
	}

	@include xs {
		.nav-link {
			display: block;
			font-family: $font-family-roboto;
			color: $text-primary;
			font-size: $font-size-base;
		}
	}

	@include sm {
		.menu-button {
			width: 26px;
			height: 26px;
		}
	}

	@include lg {
		padding: 0 40px 0 20px;

		.notification-button {
			width: 26px;
			margin-left: 47px;
		}

		.logo {
			display: block;
			max-height: 36px;
		}

		.menu-button {
			display: none;
		}
	}

	@include xl {
		height: 100px;
		padding: 0 60px 0 30px;
	}
}
