// =============================================================================
// Header
// =============================================================================
// Header/Navigation bar styles

.header {
}
