// =============================================================================
// Sidebar
// =============================================================================
// Sidebar navigation styles

@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.side-nav {
	display: none;

	@include lg {
		display: block;
		width: 100%;
		box-shadow: 0px 5px 20px 0px rgba($black, 0.04);
		z-index: 40;
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		margin-top: 70px;
		max-width: 260px;
	}

	@include xl {
		max-width: 283px;
		margin-top: 100px;
	}

	&__container {
		padding-top: 39px;
		padding-bottom: 20px;
		height: calc(100vh - 70px);
		overflow-y: auto;
		background-color: $white;

		@include xl {
			height: calc(100vh - 100px);
		}
	}

	img {
		object-fit: cover;
		width: 100%;
	}

	button {
		padding: 0;
	}

	.switch-organization {
		padding-bottom: 52px;
		display: flex;
		font-weight: normal;
		align-items: center;
		gap: 10px;
		font-size: $font-size-base;
		color: $text-primary;
		cursor: pointer;
		padding-left: 30px;

		.title {
			color: $text-secondary;
			font-weight: 500;
			padding-left: 47px;
			margin-bottom: 10px;
		}

		.icon-business {
			width: 16px;
		}

		.icon-dropdown {
			width: 14px;
		}
	}

	.nav-group {
		margin-top: 31px;

		.title {
			color: $text-secondary;
			font-size: $font-size-xs;
			font-weight: 500;
			padding-left: 30px;
			margin-bottom: 10px;
		}

		li:last-of-type .nav-link {
			margin: 0;
		}
	}

	.nav-link {
		position: relative;
		display: flex;
		font-weight: normal;
		align-items: center;
		gap: 10px;
		font-size: $font-size-base;
		color: $text-primary;
		opacity: 0.5;
		cursor: pointer;
		height: 40px;
		padding-left: 30px;
		margin-bottom: 11px;

		&__footer {
			border-top: 1px solid $input-border;
			background-color: transparent;
			margin-top: 71px;
		}

		span {
			text-wrap: nowrap;
		}

		.icon {
			width: 16px;
			height: 16px;
			flex-shrink: 0;
		}

		&.active,
		&:hover {
			opacity: 1;
			background: $bg-accent-light;

			&::before {
				content: "";
				position: absolute;
				left: 0;
				width: 3px;
				height: 100%;
				background-color: $bg-accent;
			}
		}
	}

	&__footer-text {
		color: $text-primary;
		font-size: $font-size-xs;
		margin-top: 40px;

		padding-left: 30px;
	}
}
