// =============================================================================
// Buttons
// =============================================================================
// Button component styles

@use "../abstracts/variables" as *;

// ---------------------------------------------
// Base Button
// -----------------------------------------------------------------------------

button {
	display: block;
	font-size: $font-size-sm;
	font-family: inherit;
	font-weight: 600;
	line-height: 100%;
	letter-spacing: 10%;
	outline: none;
	text-align: center;
	text-decoration: none;
	background-color: $button-primary;
	padding: 15px 0 13px 0;
	width: 100%;
	border-radius: 8px;
	color: $text-white;
	border: none;
	cursor: pointer;
	outline: none;
	user-select: none;

	&:disabled {
		cursor: not-allowed;
		opacity: 0.6;
	}

	&:focus {
		border-color: $button-primary;
	}
}
