// =============================================================================
// Buttons
// =============================================================================
// Button component styles

@use "../abstracts/variables" as *;

// -----------------------------------------------------------------------------
// Base Button
// -----------------------------------------------------------------------------

.btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: $font-size-base;
	font-weight: 500;
	line-height: 1.5;
	text-align: center;
	text-decoration: none;
	border: 2px solid transparent;
	cursor: pointer;
	outline: none;
	user-select: none;

	&:disabled {
		cursor: not-allowed;
		opacity: 0.6;
	}

	&:focus {
		outline: 2px solid $primary;
		outline-offset: 2px;
	}
}
