// =============================================================================
// Input component styles
// =============================================================================

@use "../abstracts/variables" as *;

// -----------------------------------------------------------------------------
// Base Input
// -----------------------------------------------------------------------------

input {
	position: relative;
	display: block;
	width: 100%;
	display: flex;
	font-family: inherit;
	justify-content: center;
	align-items: center;
	border: 1px solid rgba($primary, 0.2);
	color: $text-secondary;
	background-color: $bg-primary;
	outline: none;
	background-color: $bg-primary;
	font-size: $font-size-sm;
	font-family: inherit;
	font-weight: 400;
	line-height: 100%;
	border: 2px solid $input-border;
	cursor: pointer;

	&::placeholder {
		color: $text-secondary;
		opacity: 0.7;
	}

	&:disabled {
		cursor: not-allowed;
		opacity: 0.6;
	}

	&[type="date"] {
		justify-content: flex-start;
	}

	&:focus {
		border-color: $primary;
	}
}
