// =============================================================================
// Input component styles
// =============================================================================

@use "../abstracts/variables" as *;

// -----------------------------------------------------------------------------
// Base Input
// -----------------------------------------------------------------------------

input {
	position: relative;
	width: 100%;
	height: 50px;
	padding: 17.5px 16px 12.5px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	outline: none;
	background-color: $bg-primary;
	font-size: $font-size-sm;
	color: $text-secondary;
	font-weight: 400;
	line-height: 100%;
	border: 2px solid $input-border;

	&:disabled {
		cursor: not-allowed;
		opacity: 0.6;
	}

	&:focus {
		border-color: $button-primary;
	}
}
