@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.actions-menu {
	&__button {
		padding: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 20px;
		height: 20px;
		transition: opacity 0.2s ease;

		&:hover {
			opacity: 0.7;
		}
	}

	&__dropdown {
		display: grid;
		// gap: 20px;
		background: $bg-primary;
		border: 1px solid rgba($text-secondary, 0.04);
		border-radius: 4px;
		width: 180px;
		box-shadow: 3px 5px 20px 0px rgba($black, 0.04);
	}

	&__item {
		display: flex;
		align-items: center;
		gap: 8px;
		padding: 10px 20px;
		cursor: pointer;
		transition: background-color 0.2s ease;

		&:first-of-type {
			padding-top: 20px;
		}

		&:last-of-type {
			padding-bottom: 20px;
		}

		&:hover {
			background-color: $bg-accent-light;
		}
	}

	&__icon {
		width: 16px;
		height: 16px;
		flex-shrink: 0;

		img {
			object-fit: cover;
		}
	}

	&__text {
		font-family: $font-family-primary;
		font-size: $font-size-sm;
		font-weight: 500;
		color: $text-secondary;
		line-height: normal;
	}
}
