@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.mobile-nav {
	width: 100%;
	z-index: 999;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;

	@include lg {
		display: none;
	}

	&__overlay {
		position: absolute;
		inset: 0;
		z-index: 50;
		background-color: rgba($black, 0.5);
		display: block;
		transition: opacity 0.3s ease-in-out;
	}

	&__container {
		position: relative;
		z-index: 100;
		margin-top: 70px;
		padding-bottom: 20px;
		// height: 100vh;
		height: calc(100vh - 70px);
		overflow-y: auto;
		background-color: $white;
		// background-color: $accent;
		width: 100%;
		max-width: 283px;
		transition: transform 0.3s ease-in-out;
	}

	&__logo-container {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 100;
		max-width: 283px;
		width: 100%;
		background-color: $white;
		display: flex;
		align-items: center;
		height: 70px;
		padding: 20px 0;
		padding-left: 30px;
		margin-bottom: 39px;
		box-shadow: 3px 0px 20px 0px rgba($black, 0.04);
		transition: transform 0.3s ease-in-out;
	}

	&__sub-container {
		padding-top: 39px;
	}

	&__logo {
		height: 30px;
		width: auto;
		object-fit: cover;
	}

	&__close-btn {
		position: absolute;
		right: 24px;
		width: 24px;
		height: 24px;
		cursor: pointer;
	}

	&__open {
		.mobile-nav__overlay {
			opacity: 1;
		}

		.mobile-nav__container,
		.mobile-nav__logo-container {
			transform: translateX(0);
		}
	}

	&__closed {
		pointer-events: none;

		.mobile-nav__overlay {
			opacity: 0;
		}

		.mobile-nav__container,
		.mobile-nav__logo-container {
			transform: translateX(-100%);
		}
	}

	button {
		padding: 0;
	}

	.switch-organization {
		padding-bottom: 52px;
		padding-left: 30px;
		display: flex;
		font-weight: normal;
		align-items: center;
		gap: 10px;
		font-size: $font-size-base;
		color: $text-primary;
		cursor: pointer;

		.title {
			color: $text-secondary;
			font-weight: 500;
			padding-left: 47px;
			margin-bottom: 10px;
		}

		.icon-business {
			width: 16px;
		}

		.icon-dropdown {
			width: 14px;
		}
	}

	.nav-group {
		margin-top: 31px;

		.title {
			color: $text-secondary;
			font-size: $font-size-xs;
			font-weight: 500;
			padding-left: 30px;
			margin-bottom: 10px;
		}

		li:last-of-type .nav-link {
			margin: 0;
		}
	}

	.nav-link {
		position: relative;
		display: flex;
		font-weight: normal;
		align-items: center;
		gap: 10px;
		font-size: $font-size-base;
		color: $text-primary;
		opacity: 0.5;
		cursor: pointer;
		height: 40px;
		padding-left: 30px;
		margin-bottom: 11px;

		&__footer {
			border-top: 1px solid $input-border;
			background-color: transparent;
			margin-top: 71px;
		}

		span {
			text-wrap: nowrap;
		}

		.icon {
			width: 16px;
			height: 16px;
			flex-shrink: 0;
		}

		&.active,
		&:hover {
			opacity: 1;
			background: $bg-accent-light;

			&::before {
				content: "";
				position: absolute;
				left: 0;
				width: 3px;
				height: 100%;
				background-color: $bg-accent;
			}
		}
	}

	&__footer-text {
		color: $text-primary;
		font-size: $font-size-xs;
		margin-top: 40px;

		padding-left: 30px;
	}
}
