@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.status-badge {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 5px 10px;
	border-radius: 100px;
	font-size: $font-size-xs;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;

	// Active status
	&__active {
		background-color: rgba($success, 0.06);
		color: $success;
	}

	// Inactive status
	&__inactive {
		background: rgba($text-secondary, 0.06);
		color: $text-secondary;
	}

	// Pending status
	&__pending {
		background: rgba($warning, 0.1);
		color: $warning;
	}

	// Blacklisted status
	&__blacklisted {
		background: rgba($error, 0.1);
		color: $error;
	}

	@include md {
		padding: 6px 11px;
		font-size: 13px;
	}

	@include lg {
		padding: 7px 12px;
		font-size: $font-size-sm;
	}
}
