@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.login-page {
	background-color: $bg-primary;
	height: 100dvh;
	padding: 30px 20px;

	img {
		object-fit: cover;
		width: 100%;
	}

	.container {
		position: relative;
		height: 100%;
		display: flex;
		justify-content: space-between;
	}

	.logo {
		position: absolute;
		top: 0;
		left: 0;
		max-height: 36px;
	}

	.hero-content {
		display: none;
	}

	.right-content {
		width: 100%;
		flex-shrink: 0;
		align-self: center;
	}

	.login-form {
		font-family: $font-family-secondary;
		width: 100%;
	}

	form {
		input[type="email"] {
			margin-bottom: 24px;
		}
	}

	.form-link {
		color: $text-accent;
		font-size: $font-size-xs;
		text-transform: uppercase;
		font-weight: 600;
		margin-top: 6px;
		margin-bottom: 24px;
	}

	.form-header {
		margin-bottom: 24px;

		h1 {
			font-size: $font-size-3xl;
			font-weight: 700;
			line-height: 100%;
			color: $text-primary;
			margin-bottom: 6px;
		}

		p {
			font-size: $font-size-base;
			font-weight: 300;
			color: $text-secondary;
			line-height: 100%;
		}
	}

	@include xs {
		.right-content {
			padding: 0 20px;
		}
	}

	@include md {
		padding: 60px 30px;

		.container {
			grid-template-columns: 1fr 1fr;
		}

		.logo {
			margin-left: 30px;
		}

		.hero-content {
			display: block;
			max-width: 600px;
			align-self: center;
			height: fit-content;
		}

		.right-content {
			width: 50%;
			padding-left: 40px;
		}

		form {
			input[type="email"] {
				margin-top: 10px;
				margin-bottom: 24px;
			}
		}

		.form-header {
			margin-bottom: 40px;
		}

		.form-link {
			margin-bottom: 30px;
		}
	}

	@include lg {
		.hero-content {
			padding-right: 30px;
		}

		.right-content {
			padding-left: 60px;
		}

		.login-form {
			max-width: 447px;
		}

		.form-header {
			h1 {
				font-size: 40px;
				letter-spacing: -1.6px;
				margin-bottom: 10px;
			}

			p {
				font-size: $font-size-xl;
			}
		}
	}

	@include xl {
		padding: 106px 67px;

		.hero-content {
			padding-right: 69px;
		}

		.right-content {
			padding-left: 100px;
		}

		.form-header {
			margin-bottom: 60px;
		}
	}
}
