@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

img {
	width: 100%;
	object-fit: cover;
}

.title {
	font-size: $font-size-xl;
	color: $text-primary;
}

.user-stats {
	display: grid;
	grid-template-columns: 1fr;
	gap: 10px;
	margin: 40px 0;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: $white;
	border: 1px solid #213f7d0f;
	border-radius: 4px;
	box-shadow: 3px 5px 20px 0px #0000000a;
	padding: 20px 30px 30px;
	width: 100%;
	height: 160px;

	img {
		width: 40px;
	}

	p {
		margin-top: 14px;
		margin-bottom: 12px;
		font-size: $font-size-sm;
		color: $text-secondary;
		text-transform: uppercase;
		text-wrap: nowrap;
	}

	span {
		display: block;
		color: $text-primary;
		font-size: $font-size-2xl;
		font-weight: 600;
	}
}

@include sm {
	.user-stats {
		grid-template-columns: 1fr 1fr;
	}
}

@include lg {
	.user-stats {
		gap: 26px;
		grid-template-columns: repeat(4, 1fr);
	}

	.card {
		max-width: 240px;
	}
}
